<div class="container-fluid" style="margin-top: 30px">
  <div class="row">
    <div class="text-center">
     <h1>Profile Edit</h1>
      <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 30px">
        <%= form_with model: @user, url: profiles_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="actions">
            <%= f.submit '更新', class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
      <div class="destroy">
        <%= link_to "退会はこちら", user_path(current_user.id), method: :delete, "data-confirm" => "退会した場合、#{current_user.name}の情報は完全に削除されます。本当に退会してよろしいですか？" %>
      </div>
    </div>
  </div>
</div>