<% content_for(:title, "Mypage") %>
<div class="container">
  <div class="mb-3">
    <h1 class="text-center m-4">Welcome,<%= current_user.name%></h1>
  </div>
  <div class="row gx-5" >
    <div class="col-4">
      <div class="card">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/ear-icon.png'%>
        </div>
        <div class="card-body text-center">
          <div class="card-title" >
            <%= link_to 'Simulation', simulation_page_path, data: {"turbolinks" => false}, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">ピアッシングのシミュレーションができます</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/post.png'%>
        </div>
        <div class="card-body text-center">
          <div class="card-title">
            <%= link_to 'Posts', new_coordinate_image_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">作成したイメージを投稿できます</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/face.png'%>
        </div>
        <div class="card-body text-center">
          <div class="card-title">
            <%= link_to 'Coordinate Images', coordinate_images_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">投稿されたイメージを見ることができます</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/myimage.png'%>
        </div>
        <div class="card-body text-center">
          <div class="card-title">
            <%= link_to 'My Coordinates Images', my_coordinate_images_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">投稿したイメージを見ることができます</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/heart.png'%>
        </div>
        <div class="card-body text-center">
          <div class="card-title">
            <%= link_to 'My Bookmarks', bookmarks_coordinate_images_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">お気に入りの一覧を見ることができます</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/pen.png'%>
        </div>
        <div class="card-body text-center">
          <div class="card-title">
            <%= link_to 'Profile Edit', edit_profiles_path, class:"btn btn-secondary"%>
          </div>
          <p class="card-text">name,emailの変更ができます</p>
        </div>
      </div>
    </div>
  </div>
</div>