<div class="container-fluid overflow-hidden text-center">
  <div>
  <h1>Welcome,<%= current_user.name%></h1>
  </div>

  <div class="row gx-5" >
    <div class="col-6">
      <div class="card">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/ear-icon.png'%>
        </div>
        <div class="card-body">
          <div class="card-title" >
            <%= link_to 'Simulation', simulation_page_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">ピアスを自在に動かしてピアッシングのシミュレーションができます</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/ear-icon.png'%>
        </div>
        <div class="card-body">
          <div class="card-title">
            <%= link_to 'Coodinate Posts', new_coordinate_image_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">ピアスを自在に動かしてピアッシングのシミュレーションができます</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/ear-icon.png'%>
        </div>
        <div class="card-body">
          <div class="card-title">
            <%= link_to 'Coordinate Images', coordinate_images_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">ピアスを自在に動かしてピアッシングのシミュレーションができます</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card center-block">
        <div class="card-img-top text-center card-header bg-transparent" alt="card-grid-image">
          <%= image_tag '/icon/ear-icon.png'%>
        </div>
        <div class="card-body">
          <div class="card-title">
            <%= link_to 'My Coordinates Images', my_coordinate_images_path, class:"btn btn-secondary" %>
          </div>
          <p class="card-text">ピアスを自在に動かしてピアッシングのシミュレーションができます</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to 'name,emailの変更はこちらから', edit_profile_path(id: current_user.id), class:"link-secondary"%>
  </div>
</div>