<h1>Mypage</h1>
<p><%= current_user.name%><p>
<%= link_to 'シミュレーションする', simulation_page_path %>
<%= link_to 'コーディネート画像投稿', new_coordinate_image_path %>
<%= link_to 'コーディネート一覧を見る', coordinate_images_path %>
<%= link_to '自分のコーディネート一覧', '/'%>

<%= link_to '編集', edit_profile_path(id: current_user.id)%>

