 <%# <script type="module" src="main.js "></script> %>
 <script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>

<div class="page_title" style="font-size: 40px; margin-bottom: 20px;">
  <h1>Simulation</h1>
</div>
<div class="flex flex-col w-full lg:flex-row" style="margin-left: 300px; padding-bottom: 10px;  ">
 <%# 耳画像 %>
  <canvas id="ear-image" width="350" height="450">
    <div class="indicator">
      <span class="indicator-item indicator-center indicator-middle">
        <div class="add-drag-and-drop" ></div>
      </span> 
      <div class="grid w-32 h-32 bg-base-300 place-items-center">
        <%# <%= image_tag "ear_image_1920.jpg", id: "ear-image"%> 
      </div>
    </div>
  </canvas>
  <div class="divider lg:divider-horizontal"></div>
  <%# ピアス画像データ%>
  <% if @pierce_image.present? %>
    <% @pierce_image.each_with_index do |pierce_image, n| %>
      <div class="card-compact" style="width: 30px; height: 30px; margin-right: 50px;">
        <figure id= "<%= "image-#{n + 1}"%>" onClick="copy_image(this.id)" style="width: 20px; height:20px;">
          <%= image_tag pierce_image.pierce_image.url %>
        </figure>
        <div class="card-body items-center text-center">
          <p><%= pierce_image.pierce_image_name %>
          <%# <div class="card-actions justify-end">
            <%# <button class="btn btn-primary" id="<%= "button-#{n + 1}">複製</button> %>
          <%# </div> %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>”データがありません"</p>
  <% end %>
</div>
<div class="download-button">
   <button class="btn btn-primary" style="margin-left: 400px;"> ダウンロード</button>
</div>
<%= javascript_pack_tag 'simulation/main' %>
