<div class="col-3">
  <div class="card p-3 border bg-light" id="coordinate_image-id-<%= coordinate_image.id%>">
    <% if coordinate_image.image_url.present? %>
      <%= image_tag coordinate_image.image_url, class: 'card-img-top', id:"coordinate-image-#{coordinate_image.id}",width: 200, height: 300  %>
    <% else %>
      <%= image_tag coordinate_image.for_post_image_url, class: 'card-img-top', id:"coordinate-image-#{coordinate_image.id}",width: 200, height: 300  %>
    <% end %>
    <div class="card-body text-right">
      <div class=''>
        <div class="form-inline">
          <% if coordinate_image.tags.present? %>
            <% coordinate_image.tags.each do |tag|%>
              <div class="mr-3 badge bg-secondary">
                <%= link_to "#{tag.name}", tag_images_path(tag: tag.name) %>
              </div>
            <% end %>
          <% else %>
            <div class="mr-3 badge bg-light">
              <%= link_to "No Tag" %>
            </div>  
          <% end %>
        </div>
        <%if logged_in?%>
          <% if current_user.own?(coordinate_image) %>
            <%= link_to coordinate_image_path(coordinate_image.id), id: "button-delete-#{coordinate_image.id}", method: :delete, data: {confirm: '削除しますか？'} do %>
              <%= image_tag '/icon/trashbox.png'%>
            <% end %>
          <% else %>
            <%= render 'bookmark_area', coordinate_image: coordinate_image %>
          <% end %>
        <% else %>
        <%end%>
      </div>
    </div>
  </div>
</div>
