<div class="col-3">
  <div class="card p-3 border bg-light">
    <%= image_tag my_coordinate_image.image_url, class: 'card-img-top', id:"coordinate-image-#{my_coordinate_image.id}",width: 200, height: 300  %>
    <div class="card-body text-right ">
      <a class="download-button" id="<%="#{my_coordinate_image.id}"%>">
        <%= image_tag '/icon/download32.png'%>
      </a>
      <%= link_to coordinate_image_path(my_coordinate_image.id), id: "button-delete-#{my_coordinate_image.id}", method: :delete, data: {confirm: '削除しますか？'} do %>
        <%= image_tag '/icon/trashbox.png'%>
      <% end %>
    </div>
  </div>
</div>
