<% content_for(:title, "Post") %>
<div class="container">
  <div class="m-4 text-center">
    <h1> Image Post</h1>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <%= form_with model: @coordinate_image, html: { method: :post, multipart: true },local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :tag_list, "Tag" %>
          <%= f.text_field :tag_list, class: "form-control", value: @coordinate_image.tag_list.join(','), placeholder: "(,)区切りで複数のタグを登録できます"%>
          <%= f.check_box ;tag_list%>
        </div>
        <div class="col-4 mx-auto">
          <%= f.submit "Posts", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
