<h1>Piercing Simulation</h1>

<button>Login</button>
<%= link_to "Guest User", simulation_page_path, class: 'btn btn-default' %>
<br>
<br>
<%= link_to "About", "/" %>
<%= link_to "利用規約", "/" %>
<%= link_to "プライバシーポリシー", "/" %>
<%= link_to "お問合せ", "/" %>


<button class="btn btn-primary">Button</button>